## Fonction qui prend en argument une liste de nom de variables et une vague, et retourne un dataset de ces colonnes en .csv

In [15]:
import pandas as pd

def list_to_df(wave, variables):
    PATH = f"/Users/josephbarbier/Desktop/PROJETpython/wave/wave{str(wave)}.csv"
    df = pd.read_csv(PATH, low_memory=False, usecols=variables)
    return df.head()

var = ["mergeid","hhid3", "country"]
list_to_df(wave=3, variables=var)

        mergeid hhid3 country
0  AT-002132-01   NaN     NaN
1  AT-004855-01   NaN     NaN
2  AT-010904-01   NaN     NaN
3  AT-011129-01   NaN     NaN
4  AT-056493-01   NaN     NaN