In [199]:
import pandas as pd
data = pd.read_csv("/Users/josephbarbier/Desktop/PROJETpython/wave/wave1", low_memory=False)
data = data[['br001_','br003_', 'br004_', 'br010_']]
data.head()

   br001_  br003_  br004_  br010_
0     5.0     NaN     NaN     4.0
1     5.0     NaN     NaN     6.0
2     1.0    20.0    52.0     4.0
3     5.0     NaN     NaN     4.0
4     5.0     NaN     NaN    -1.0

In [187]:
from ipynb.fs.full.others import *
import streamlit as st
import numpy as np

In [196]:
list_var = ['br001_','br003_', 'br004_', 'br010_']
for var in list_var:
    data[var] = qual_to_quant(data, var)
    print("\n",var, data[var].dtype)
    stat(data, var)

 br001_ category
No      52.6%
Yes    46.88%
Name: br001_, dtype: object

 br003_ float64
Le moyenne de br003_ est :28.19
L'écart type de br003_ est :14.81
La médiane de br003_ est :30.0

 br004_ float64
Le moyenne de br004_ est :44.49
L'écart type de br004_ est :14.34
La médiane de br004_ est :45.0

 br010_ category
Not at all in the last 6 months    31.83%
Almost every day                   21.01%
Once or twice a week               17.73%
Once or twice a month               10.6%
Less than once a month              8.54%
Three or four days a week           7.13%
Five or six days a week              2.6%
Name: br010_, dtype: object

In [195]:
def stat(df, variable):
    
    if df[variable].dtype == "category":
        counts = df[variable].value_counts()
        for i in range(len(counts)):
            n = len(df)
            counts[i] = str(round(counts[i]/n *100, 2))+'%'
        print(counts)  
    
    else:
        mean = round(df[variable].mean(),2)
        sd = round(df[variable].std(),2)
        median = round(df[variable].median(),2)
        print(f"Le moyenne de {variable} est :{mean}")
        print(f"L'écart type de {variable} est :{sd}")
        print(f"La médiane de {variable} est :{median}")
        
        
def qual_to_quant(df, variable):
    
    df[variable] = remove_mc(df, variable)
    
    try: 
        df[variable] = df[variable].astype("float")
    except ValueError:
        pass
    
    return df[variable]

def remove_mc(df, variable):
    
    #The missing codes, according to the documentation
    to_remove = ["Don't know",
                 "Refusal",
                 "Implausible value/suspected wrong",
                 "Not codable",
                 "Not answered",
                 "Not yet coded",
                 "Not applicable",
                 "Not applicable (not yet part of sample)",
                 "Not applicable (no participation in this wave)",
                 "Not applicable (respondent was not listed as household member in this wave)",
                 "Not applicable (respondent has an End-of-Life interview in previous waves)",
                 "Not applicable (no main interview done)",
                 "Not applicable (other reason)",
                 "Not applicable (missing by design)"]
    
    return df[variable].replace(to_remove, np.NaN)

In [175]:
x = [1,2,2,3,4]
x[:-2]

[1, 2, 2]